.body {
    background-position: 90%;
    background-image: url(https://www.ocbase.com/user/pages/01.home/_features/CPU-Processor.png);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    /*background: violet;*/
    -moz-background-size: cover;
    background-attachment: fixed;
    image-rendering: -webkit-optimize-contrast;

}
.p {
    color: red;
    margin-right: auto;
    font-size: 18px;
    /*white-space: pre-line;*/
}
.p1 {
    color:purple;
    margin-right: auto;
    margin-left: 10% auto;
    font-size: 15px;
    text-size-adjust: 60%;
    text-rendering: auto;
    text-justify: auto;
    /*white-space: pre-line;*/
    grid-auto-columns: auto;
    text-decoration-color: violet;
    text-align: center;
}
