.body {
    background-position: 90%;
    background-image: url(https://www.ocbase.com/user/pages/01.home/_features/CPU-Processor.png);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
    image-rendering: -webkit-optimize-contrast auto;

}
.p {
    color: red;
    margin-right: auto;
    font-size: 18px;
    /*white-space: pre-line;*/
    font: outline;
    font-family: sans-serif;
    text-align: center;
}
.p1 {
    /*color:purple;*/
    /*margin-right: auto;*/
    /*margin-left: 10% auto;*/
    /*text-size-adjust: 60%;*/
    /*text-rendering: auto;*/
    /*text-justify: auto;*/
    /*white-space: pre-line;*/

    font-size: 18px;
    grid-auto-columns: auto;
    text-align: center;
    font-family: sans-serif;
}
